<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <targets>
    <target name="infoLog" xsi:type="File" fileName="${basedir}/Logs/${shortdate}-MTC.Nucleo.DucDNS.info.log" layout="${longdate} ${message}"/>
    <target name="errorLog" xsi:type="File" fileName="${basedir}/Logs/${shortdate}-MTC.Nucleo.DucDNS.error.log" layout="${longdate} ${message}"/>
    <target name="debugLog" xsi:type="File" fileName="${basedir}/Logs/${shortdate}-MTC.Nucleo.DucDNS.debug.log" layout="${longdate} ${message}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="infoLog" />
    <logger name="*" minlevel="Error" writeTo="errorLog" />
    <logger name="*" level="Debug" writeTo="debugLog" />
  </rules>
</nlog>