<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ConfigNucleo" type="MTC.Host.IComun.ConfiguracionNucleo, MTC.Host.IComun"/>
    <section name="ConfigServicio" type="MTC.Host.IComun.ConfiguracionServicio, MTC.Host.IComun"/>
  </configSections>
  
  <ConfigNucleo tipoProveedor="MTC.Nucleo.DucDNS.NucleoDucDNS, MTC.Nucleo.DucDNS" />

  <!--
  ServiceAccount
        // Resumen:
        //     Cuenta que actúa como usuario sin privilegios en el equipo local y presenta credenciales
        //     anónimas a cualquier servidor remoto.
        LocalService = 0,
        //
        // Resumen:
        //     Cuenta que proporciona amplios privilegios locales y presenta las credenciales
        //     del equipo a cualquier servidor remoto.
        NetworkService = 1,
        //
        // Resumen:
        //     Una cuenta, utilizada por el administrador de control de servicio, que tiene
        //     amplios privilegios en el equipo local y funciona como un equipo de la red.
        LocalSystem = 2,
        //
        // Resumen:
        //     Cuenta definida por un usuario específico en la red.Si se especifica User para
        //     el miembro System.ServiceProcess.ServiceProcessInstaller.Account, el sistema
        //     pide un nombre de usuario y una contraseña al instalar el servicio, a menos que
        //     se establezcan valores para las propiedades System.ServiceProcess.ServiceProcessInstaller.Username
        //     y System.ServiceProcess.ServiceProcessInstaller.Password de la instancia de System.ServiceProcess.ServiceProcessInstaller.
        User = 3
  -->

  <ConfigServicio nombre="MTCDucDNS" descripcion="Servidor de actualizaciones de DucDNS"
                  serviciosDependientes="Winmgmt" segundosEsperaInicio="5" cuentaServicio="LocalSystem" />

  <appSettings>
    <!--Si se quiere forzar el uso de una region en particular (por ejemplo en-US) -->
    <add key="cultura" value="" />
  </appSettings>
</configuration>